name: build
on: [ push ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: gradle setup
        uses: gradle/actions/setup-gradle@v4
      - name: java setup
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: nodejs setup
        uses: actions/setup-node@v4
        with:
          node-version: latest
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build
        run: ./gradlew build
      - name: capture build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: build/libs/
      - name: post beta
        if: ${{ success() }}
        run: |
          cd .github/upload
          npm run start -- ${{ github.sha }} "${{ github.event.head_commit.message }}" "${{ github.ref_name }}"
        env:
          NF_API_BETA_AUTH: ${{ secrets.NF_API_BETA_AUTH }}